[submodule "contrib/faiss"]
	path = contrib/faiss
	url = https://github.com/zhiqiang-hhhh/faiss.git
[submodule "contrib/openblas"]
	path = contrib/openblas
	url = https://github.com/zhiqiang-hhhh/OpenBLAS.git
[submodule "hnsw-visual"]
	path = contrib/hnsw-illustrated
	url = https://github.com/stefanwebb/hnsw-illustrated.git
[submodule "openssl"]
	path = contrib/openssl
	url = https://github.com/openssl/openssl.git
