[submodule "contrib/faiss"]
	path = contrib/faiss
	url = https://github.com/zhiqiang-hhhh/faiss.git
[submodule "contrib/openblas"]
	path = contrib/openblas
	url = https://github.com/zhiqiang-hhhh/OpenBLAS.git
[submodule "contrib/diskann"]
	path = contrib/diskann
	url = git@github.com:zhiqiang-hhhh/DiskANN.git
	branch = cpp_main
